/* AboutUs.css */

html,
body {
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    color: black;
    gap: 35px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.content h1 {
    margin-bottom: 0px;
}

.content h2 {
    margin-top: 0px;
    font-weight: 400;
    color: #333;
}

.image {
    flex: 1;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image img {
    max-height: 600px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: 40px 200px;
    color: black;
    max-width: 43vw;
}

.contact h2 {
    margin-bottom: 2.5px;
    padding-bottom: 0;
}

.contact p {
    margin-top: 2.5px;
    padding-top: 0;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.contact input,
.contact textarea {
    padding: clamp(10px, 1vw + 5px, 15px);
    font-size: clamp(0.7vw, 1.2vw + 0.3rem, 1.5rem);
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
}

.contact button {
    padding: clamp(10px, 1vw + 5px, 15px);
    font-size: clamp(0.7vw, 1.2vw + 0.3rem, 1.5rem);
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #555;
}

h1 {
    font-size: clamp(2.5vw, 2.5vw + 1rem, 3rem);
}

h2 {
    font-size: clamp(2vw, 2vw + 1rem, 2.5rem);
}

p {
    font-size: clamp(1.2vw, 1.2vw + 0.5rem, 1.5rem);
}

/* Responsividade */
@media (max-width: 1320px) {

    .container {
        margin: 0 100px;
    }

    .image {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .contact {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 100%;
    }
}

@media (max-width: 1920px) {
    .image img {
        max-height: 700px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 1920px) {
    .container {
        margin-left: 300px;
        margin-right: 300px;
    }

    .image img {
        max-height: 800px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content {
        padding-right: 50px;
    }

    .contact {
        margin: 40px 300px;
        max-width: 50vw;
    }
}